name: DVC Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run-dvc:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set environment variables
        run: |
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> $GITHUB_ENV

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install dvc dvc[gdrive] dvc[s3] dvc[ssh] --upgrade

      - name: Pull data from DVC remote
        run: dvc pull

      - name: Run DVC pipeline
        run: dvc repro

      - name: Push updated metrics and artifacts
        run: dvc push
